In [1]:
# Import the Python SDK
import google.generativeai as genai
# Used to securely store your API key
#from google.colab import userdata

GOOGLE_API_KEY="AIzaSyDKm5dvTpqlApCyg-WGvTk2WczjDEQLk-c"
genai.configure(api_key=GOOGLE_API_KEY)

In [2]:
model = genai.GenerativeModel('gemini-1.5-flash')

In [4]:
import pandas as pd

In [6]:
complete = pd.read_json('bird_db/superhero_complete.json', orient='records')

schema = "CREATE TABLE alignment (id INTEGER PRIMARY KEY, alignment TEXT); CREATE TABLE attribute (id INTEGER PRIMARY KEY, attribute_name TEXT); CREATE TABLE colour (id INTEGER PRIMARY KEY, colour TEXT); CREATE TABLE gender (id INTEGER PRIMARY KEY, gender TEXT); CREATE TABLE publisher (id INTEGER PRIMARY KEY, publisher_name TEXT); CREATE TABLE race (id INTEGER PRIMARY KEY, race TEXT); CREATE TABLE superhero (id INTEGER PRIMARY KEY, superhero_name TEXT, full_name TEXT, gender_id INTEGER, eye_colour_id INTEGER, hair_colour_id INTEGER, skin_colour_id INTEGER, race_id INTEGER, publisher_id INTEGER, alignment_id INTEGER, height_cm INTEGER, weight_kg INTEGER, FOREIGN KEY (gender_id) REFERENCES gender(id), FOREIGN KEY (eye_colour_id) REFERENCES colour(id), FOREIGN KEY (hair_colour_id) REFERENCES colour(id), FOREIGN KEY (skin_colour_id) REFERENCES colour(id), FOREIGN KEY (race_id) REFERENCES race(id), FOREIGN KEY (publisher_id) REFERENCES publisher(id), FOREIGN KEY (alignment_id) REFERENCES alignment(id)); CREATE TABLE hero_attribute (hero_id INTEGER, attribute_id INTEGER, attribute_value TEXT, PRIMARY KEY (hero_id, attribute_id), FOREIGN KEY (hero_id) REFERENCES superhero(id), FOREIGN KEY (attribute_id) REFERENCES attribute(id)); CREATE TABLE superpower (id INTEGER PRIMARY KEY, power_name TEXT); CREATE TABLE hero_power (hero_id INTEGER, power_id INTEGER, PRIMARY KEY (hero_id, power_id), FOREIGN KEY (hero_id) REFERENCES superhero(id), FOREIGN KEY (power_id) REFERENCES superpower(id);"

text = "Given the database schema and question, generate a SQL query. SCHEMA: CREATE TABLE alignment (id INTEGER PRIMARY KEY, alignment TEXT); CREATE TABLE attribute (id INTEGER PRIMARY KEY, attribute_name TEXT); CREATE TABLE colour (id INTEGER PRIMARY KEY, colour TEXT); CREATE TABLE gender (id INTEGER PRIMARY KEY, gender TEXT); CREATE TABLE publisher (id INTEGER PRIMARY KEY, publisher_name TEXT); CREATE TABLE race (id INTEGER PRIMARY KEY, race TEXT); CREATE TABLE superhero (id INTEGER PRIMARY KEY, superhero_name TEXT, full_name TEXT, gender_id INTEGER, eye_colour_id INTEGER, hair_colour_id INTEGER, skin_colour_id INTEGER, race_id INTEGER, publisher_id INTEGER, alignment_id INTEGER, height_cm INTEGER, weight_kg INTEGER, FOREIGN KEY (gender_id) REFERENCES gender(id), FOREIGN KEY (eye_colour_id) REFERENCES colour(id), FOREIGN KEY (hair_colour_id) REFERENCES colour(id), FOREIGN KEY (skin_colour_id) REFERENCES colour(id), FOREIGN KEY (race_id) REFERENCES race(id), FOREIGN KEY (publisher_id) REFERENCES publisher(id), FOREIGN KEY (alignment_id) REFERENCES alignment(id)); CREATE TABLE hero_attribute (hero_id INTEGER, attribute_id INTEGER, attribute_value TEXT, PRIMARY KEY (hero_id, attribute_id), FOREIGN KEY (hero_id) REFERENCES superhero(id), FOREIGN KEY (attribute_id) REFERENCES attribute(id)); CREATE TABLE superpower (id INTEGER PRIMARY KEY, power_name TEXT); CREATE TABLE hero_power (hero_id INTEGER, power_id INTEGER, PRIMARY KEY (hero_id, power_id), FOREIGN KEY (hero_id) REFERENCES superhero(id), FOREIGN KEY (power_id) REFERENCES superpower(id); Here are three example questions with increasing complexity and their corresponding SQL queries: How many superheroes are there of each gender? SELECT g.gender, COUNT(s.id) as total_heroes FROM superhero s JOIN gender g ON s.gender_id = g.id GROUP BY g.gender ORDER BY total_heroes DESC; What is the average weight and height of superheroes by publisher, but only for publishers that have more than 5 superheroes? SELECT p.publisher_name, ROUND(AVG(s.height_cm), 2) as avg_height, ROUND(AVG(s.weight_kg), 2) as avg_weight, COUNT(s.id) as total_heroes FROM superhero s JOIN publisher p ON s.publisher_id = p.id GROUP BY p.publisher_name HAVING COUNT(s.id) > 5 ORDER BY total_heroes DESC; What are the 5 most common superpowers among good-aligned heroes, including the percentage of good heroes that have each power? WITH good_heroes AS (SELECT COUNT(DISTINCT s.id) as total_good_heroes FROM superhero s JOIN alignment a ON s.alignment_id = a.id WHERE a.alignment = 'Good') SELECT sp.power_name, COUNT(hp.hero_id) as heroes_with_power, ROUND(COUNT(hp.hero_id) * 100.0 / gh.total_good_heroes, 2) as percentage_of_good_heroes FROM superpower sp JOIN hero_power hp ON sp.id = hp.power_id JOIN superhero s ON hp.hero_id = s.id JOIN alignment a ON s.alignment_id = a.id CROSS JOIN good_heroes gh WHERE a.alignment = 'Good' GROUP BY sp.power_name, gh.total_good_heroes ORDER BY heroes_with_power DESC LIMIT 5; "

prompt = text + "QUESTION:"

In [30]:
indice = complete.question_id.to_list

In [ ]:
respuestas = {}

In [27]:
respuestas

{717: "```sql\nSELECT DISTINCT\n  sp.power_name\nFROM superhero AS s\nJOIN hero_power AS hp\n  ON s.id = hp.hero_id\nJOIN superpower AS sp\n  ON hp.power_id = sp.id\nWHERE\n  s.superhero_name = '3-D Man';\n```",
 718: "```sql\nSELECT COUNT(DISTINCT s.id) AS super_strength_count\nFROM superhero s\nJOIN hero_power hp ON s.id = hp.hero_id\nJOIN superpower sp ON hp.power_id = sp.id\nWHERE sp.power_name = 'Super Strength';\n```",
 719: "```sql\nSELECT COUNT(DISTINCT s.id) AS num_super_strong_tall_heroes\nFROM superhero s\nJOIN hero_power hp ON s.id = hp.hero_id\nJOIN superpower sp ON hp.power_id = sp.id\nWHERE sp.power_name = 'Super Strength' AND s.height_cm > 200;\n```",
 720: '```sql\nSELECT s.full_name\nFROM superhero s\nJOIN hero_power hp ON s.id = hp.hero_id\nGROUP BY s.id\nHAVING COUNT(hp.power_id) > 15;\n```',
 721: "```sql\nSELECT COUNT(DISTINCT s.id) AS blue_eyed_heroes\nFROM superhero s\nJOIN colour c ON s.eye_colour_id = c.id\nWHERE c.colour = 'Blue';\n```",
 722: "```sql\nSELECT\n  c.colour\nFROM superhero AS s\nJOIN colour AS c\n  ON s.skin_colour_id = c.id\nWHERE\n  s.superhero_name = 'Apocalypse';\n```",
 723: "```sql\nSELECT COUNT(DISTINCT s.id) AS count_of_superheroes\nFROM superhero s\nJOIN color c ON s.eye_colour_id = c.id\nJOIN hero_power hp ON s.id = hp.hero_id\nJOIN superpower sp ON hp.power_id = sp.id\nWHERE c.colour = 'Blue' AND sp.power_name = 'Agility';\n```",
 724: "```sql\nSELECT s.superhero_name\nFROM superhero s\nJOIN colour ec ON s.eye_colour_id = ec.id\nJOIN colour hc ON s.hair_colour_id = hc.id\nWHERE ec.colour = 'Blue' AND hc.colour = 'Blond';\n```",
 725: "```sql\nSELECT COUNT(*) AS total_marvel_heroes\nFROM superhero s\nJOIN publisher p ON s.publisher_id = p.id\nWHERE p.publisher_name = 'Marvel Comics';\n```",
 726: "```sql\nSELECT s.superhero_name, s.height_cm\nFROM superhero s\nJOIN publisher p ON s.publisher_id = p.id\nWHERE p.publisher_name = 'Marvel Comics'\nORDER BY s.height_cm DESC;\n```",
 727: "```sql\nSELECT p.publisher_name\nFROM superhero s\nJOIN publisher p ON s.publisher_id = p.id\nWHERE s.superhero_name = 'Sauron';\n```",
 728: "```sql\nWITH EyeColorCounts AS (\n  SELECT\n    c.colour,\n    COUNT(s.id) AS superhero_count\n  FROM superhero AS s\n  JOIN colour AS c\n    ON s.eye_colour_id = c.id\n  JOIN publisher AS p\n    ON s.publisher_id = p.id\n  WHERE\n    p.publisher_name = 'Marvel Comics'\n  GROUP BY\n    c.colour\n)\nSELECT\n  colour,\n  superhero_count,\n  RANK() OVER (ORDER BY superhero_count DESC) AS eye_color_rank\nFROM EyeColorCounts\nORDER BY\n  eye_color_rank;\n```",
 729: "```sql\nSELECT AVG(s.height_cm) AS average_height\nFROM superhero s\nJOIN publisher p ON s.publisher_id = p.id\nWHERE p.publisher_name = 'Marvel Comics';\n```",
 730: "```sql\nSELECT \n    s.superhero_name\nFROM \n    superhero s\nJOIN \n    publisher p ON s.publisher_id = p.id\nJOIN \n    hero_power hp ON s.id = hp.hero_id\nJOIN \n    superpower sp ON hp.power_id = sp.id\nWHERE \n    p.publisher_name = 'Marvel Comics' AND sp.power_name = 'Super Strength';\n```",
 731: "```sql\nSELECT COUNT(*) AS total_superheroes\nFROM superhero s\nJOIN publisher p ON s.publisher_id = p.id\nWHERE p.publisher_name = 'DC Comics';\n```",
 732: "```sql\nWITH HeroSpeed AS (\n  SELECT\n    s.superhero_name,\n    s.publisher_id,\n    AVG(\n      CASE\n        WHEN attribute_name = 'Speed' THEN\n          CAST(attribute_value AS REAL)\n        ELSE\n          NULL\n      END\n    ) AS average_speed\n  FROM superhero AS s\n  JOIN hero_attribute AS ha\n    ON s.id = ha.hero_id\n  JOIN attribute AS a\n    ON ha.attribute_id = a.id\n  GROUP BY\n    s.superhero_name,\n    s.publisher_id\n)\nSELECT\n  p.publisher_name,\n  MIN(hs.average_speed) AS slowest_speed\nFROM HeroSpeed AS hs\nJOIN publisher AS p\n  ON hs.publisher_id = p.id\nGROUP BY\n  p.publisher_name;\n```",
 733: "```sql\nSELECT COUNT(DISTINCT s.id) AS gold_eyed_heroes\r\nFROM superhero s\r\nJOIN publisher p ON s.publisher_id = p.id\r\nJOIN colour c ON s.eye_colour_id = c.id\r\nWHERE p.publisher_name = 'Marvel Comics' AND c.colour = 'Gold';\n```",
 734: "```sql\nSELECT p.publisher_name\nFROM superhero s\nJOIN publisher p ON s.publisher_id = p.id\nWHERE s.superhero_name = 'Blue Beetle II';\n```",
 735: "```sql\nSELECT COUNT(DISTINCT s.id) AS blonde_superheroes\nFROM superhero s\nJOIN colour c ON s.hair_colour_id = c.id\nWHERE c.colour = 'Blonde';\n```",
 736: '```sql\n-- The database schema does not contain information about intelligence.\n-- The query below returns the superhero with the lowest height.\n-- Please update the schema or provide additional criteria for a more accurate response.\nSELECT s.superhero_name\nFROM superhero s\nORDER BY s.height_cm ASC\nLIMIT 1;\n```\n\nThis query returns the superhero with the lowest height, assuming that height is inversely proportional to intelligence (which is not necessarily true). \n\nTo answer the question accurately, you\'d need to include intelligence data in the database.  This could be done by:\n\n1. **Adding an intelligence attribute:**  Add a new column to the `superhero` table for intelligence rating (e.g., `intelligence_score`). \n2. **Using existing attributes:**  If you have attributes like "IQ" or "mental abilities" in the `attribute` table, you can join that table to the `superhero` table.\n\nOnce you have intelligence information in the database, you can modify the query to find the superhero with the lowest intelligence score. \n',
 737: "```sql\nSELECT r.race\nFROM superhero s\nJOIN race r ON s.race_id = r.id\nWHERE s.superhero_name = 'Copycat';\n```",
 738: "```sql\nSELECT s.superhero_name\r\nFROM superhero s\r\nJOIN hero_attribute ha ON s.id = ha.hero_id\r\nJOIN attribute a ON ha.attribute_id = a.id\r\nWHERE a.attribute_name = 'Durability' AND ha.attribute_value < '50';\r\n```",
 739: "```sql\nSELECT s.superhero_name\nFROM superhero s\nJOIN hero_power hp ON s.id = hp.hero_id\nJOIN superpower sp ON hp.power_id = sp.id\nWHERE sp.power_name = 'Death Touch';\n```",
 740: "```sql\nSELECT COUNT(*) \nFROM superhero s\nJOIN gender g ON s.gender_id = g.id\nJOIN hero_attribute ha ON s.id = ha.hero_id\nJOIN attribute a ON ha.attribute_id = a.id\nWHERE g.gender = 'Female'\n  AND a.attribute_name = 'Strength'\n  AND ha.attribute_value = '100';\n```",
 741: '```sql\nSELECT s.superhero_name\nFROM superhero s\nJOIN hero_power hp ON s.id = hp.hero_id\nGROUP BY s.superhero_name\nORDER BY COUNT(hp.power_id) DESC\nLIMIT 1;\n```',
 742: "```sql\nSELECT COUNT(*)\nFROM superhero s\nJOIN race r ON s.race_id = r.id\nWHERE r.race = 'Vampire';\n```",
 743: "```sql\nWITH SelfishHeroes AS (\n  SELECT\n    COUNT(DISTINCT s.id) AS total_selfish_heroes\n  FROM superhero AS s\n  JOIN alignment AS a\n    ON s.alignment_id = a.id\n  WHERE\n    a.alignment IN ('Self-Interest', 'Moral Code')\n), MarvelSelfishHeroes AS (\n  SELECT\n    COUNT(DISTINCT s.id) AS marvel_selfish_heroes\n  FROM superhero AS s\n  JOIN alignment AS a\n    ON s.alignment_id = a.id\n  JOIN publisher AS p\n    ON s.publisher_id = p.id\n  WHERE\n    a.alignment IN ('Self-Interest', 'Moral Code')\n    AND p.publisher_name = 'Marvel Comics'\n)\nSELECT\n  ROUND(\n    (\n      CAST(sh.total_selfish_heroes AS REAL) * 100 / (\n        SELECT\n          COUNT(*)\n        FROM superhero\n      )\n    ),\n    2\n  ) AS percentage_selfish_heroes,\n  ms.marvel_selfish_heroes\nFROM SelfishHeroes AS sh\nJOIN MarvelSelfishHeroes AS ms;\n```",
 744: "```sql\nWITH publisher_counts AS (\n  SELECT\n    p.publisher_name,\n    COUNT(s.id) AS superhero_count\n  FROM superhero s\n  JOIN publisher p\n    ON s.publisher_id = p.id\n  WHERE\n    p.publisher_name IN ('DC Comics', 'Marvel Comics')\n  GROUP BY\n    p.publisher_name\n)\nSELECT\n  p1.publisher_name AS publisher1,\n  p2.publisher_name AS publisher2,\n  p1.superhero_count - p2.superhero_count AS difference\nFROM publisher_counts p1\nJOIN publisher_counts p2\n  ON p1.publisher_name <> p2.publisher_name;\n```",
 745: "```sql\nSELECT id FROM publisher WHERE publisher_name = 'Star Trek';\n```",
 746: '```sql\nSELECT\n  a.attribute_name,\n  AVG(CAST(ha.attribute_value AS REAL)) AS average_attribute_value\nFROM attribute a\nJOIN hero_attribute ha\n  ON a.id = ha.attribute_id\nGROUP BY\n  a.attribute_name;\n```',
 747: '```sql\nSELECT COUNT(*) AS "Number of Superheroes Without Full Name"\nFROM superhero\nWHERE full_name IS NULL OR full_name = \'\';\n```',
 748: '```sql\nSELECT c.colour\nFROM superhero s\nJOIN colour c ON s.eye_colour_id = c.id\nWHERE s.id = 75;\n```',
 749: "```sql\nSELECT DISTINCT\n  sp.power_name\nFROM superhero AS s\nJOIN hero_power AS hp\n  ON s.id = hp.hero_id\nJOIN superpower AS sp\n  ON hp.power_id = sp.id\nWHERE\n  s.superhero_name = 'Deathlok';\n```",
 750: "```sql\nSELECT AVG(s.weight_kg) AS average_weight\nFROM superhero s\nJOIN gender g ON s.gender_id = g.id\nWHERE g.gender = 'Female';\n```",
 751: "```sql\nSELECT DISTINCT sp.power_name\nFROM superhero s\nJOIN gender g ON s.gender_id = g.id\nJOIN hero_power hp ON s.id = hp.hero_id\nJOIN superpower sp ON hp.power_id = sp.id\nWHERE g.gender = 'Male'\nLIMIT 5;\n```",
 752: "```sql\nSELECT s.superhero_name\nFROM superhero s\nJOIN race r ON s.race_id = r.id\nWHERE r.race = 'Alien';\n```",
 753: '```sql\nSELECT s.superhero_name\nFROM superhero s\nWHERE s.height_cm BETWEEN 170 AND 190 AND s.eye_colour_id IS NULL;\n```',
 754: '```sql\nSELECT\n  sp.power_name\nFROM superpower AS sp\nJOIN hero_power AS hp\n  ON sp.id = hp.power_id\nWHERE\n  hp.hero_id = 56;\n```',
 755: "```sql\nSELECT DISTINCT s.full_name\nFROM superhero s\nJOIN race r ON s.race_id = r.id\nWHERE r.race = 'Demi-God'\nLIMIT 5;\n```",
 756: "```sql\nSELECT COUNT(*) AS total_bad_superheroes\nFROM superhero s\nJOIN alignment a ON s.alignment_id = a.id\nWHERE a.alignment = 'Bad';\n```",
 757: '```sql\nSELECT r.race\nFROM superhero s\nJOIN race r ON s.race_id = r.id\nWHERE s.weight_kg = 169;\n```',
 758: "```sql\nSELECT c.colour AS hair_colour\nFROM superhero s\nJOIN colour c ON s.hair_colour_id = c.id\nJOIN race r ON s.race_id = r.id\nWHERE s.height_cm = 185 AND r.race = 'Human';\n```",
 759: '```sql\nSELECT c.colour AS eye_colour\nFROM superhero s\nJOIN colour c ON s.eye_colour_id = c.id\nORDER BY s.weight_kg DESC\nLIMIT 1;\n```',
 760: "```sql\nWITH MarvelHeroes AS (\n  SELECT COUNT(DISTINCT s.id) AS total_marvel_heroes\n  FROM superhero s\n  JOIN publisher p ON s.publisher_id = p.id\n  WHERE p.publisher_name = 'Marvel Comics'\n  AND s.height_cm BETWEEN 150 AND 180\n), TotalHeroes AS (\n  SELECT COUNT(DISTINCT s.id) AS total_heroes\n  FROM superhero s\n  WHERE s.height_cm BETWEEN 150 AND 180\n)\nSELECT\n  ROUND((CAST(mh.total_marvel_heroes AS REAL) * 100 / th.total_heroes), 2) AS percentage_marvel\nFROM MarvelHeroes mh\nJOIN TotalHeroes th;\n```",
 761: "```sql\nWITH AvgWeight AS (\n  SELECT PERCENTILE_CONT(0.79) WITHIN GROUP (ORDER BY weight_kg) AS avg_weight_79th\n  FROM superhero\n)\nSELECT s.superhero_name\nFROM superhero s\nJOIN gender g ON s.gender_id = g.id\nJOIN AvgWeight aw ON s.weight_kg > aw.avg_weight_79th\nWHERE g.gender = 'Male';\n```",
 762: '```sql\nSELECT sp.power_name, COUNT(hp.hero_id) AS hero_count\nFROM superpower sp\nJOIN hero_power hp ON sp.id = hp.power_id\nGROUP BY sp.power_name\nORDER BY hero_count DESC\nLIMIT 1;\n```',
 763: "```sql\nSELECT ha.attribute_value\r\nFROM hero_attribute ha\r\nJOIN superhero s ON ha.hero_id = s.id\r\nJOIN attribute a ON ha.attribute_id = a.id\r\nWHERE s.superhero_name = 'Abomination';\n```",
 764: '```sql\nSELECT\n  sp.power_name\nFROM superpower AS sp\nJOIN hero_power AS hp\n  ON sp.id = hp.power_id\nWHERE\n  hp.hero_id = 1;\n```',
 765: "```sql\nSELECT COUNT(DISTINCT hp.hero_id) AS heroes_with_stealth\r\nFROM hero_power hp\r\nJOIN superpower sp ON hp.power_id = sp.id\r\nWHERE sp.power_name = 'Stealth';\n```",
 766: "```sql\nWITH RankedHeroes AS (\n  SELECT\n    s.full_name,\n    ha.attribute_value,\n    RANK() OVER (ORDER BY CAST(REPLACE(ha.attribute_value, ' ', '') AS REAL) DESC) AS rank_strength\n  FROM superhero s\n  JOIN hero_attribute ha\n    ON s.id = ha.hero_id\n  JOIN attribute a\n    ON ha.attribute_id = a.id\n  WHERE\n    a.attribute_name = 'Strength'\n)\nSELECT\n  full_name\nFROM RankedHeroes\nWHERE\n  rank_strength = 1;\n```",
 767: '```sql\nSELECT AVG(s.height_cm) AS average_height, AVG(s.weight_kg) AS average_weight\r\nFROM superhero s\r\nWHERE s.skin_colour_id IS NULL;\n```',
 768: "```sql\nSELECT COUNT(DISTINCT s.id) AS total_heroes\r\nFROM superhero s\r\nJOIN publisher p ON s.publisher_id = p.id\r\nWHERE p.publisher_name = 'Dark Horse Comics';\n```",
 769: "```sql\nWITH HeroDurability AS (\n  SELECT\n    s.superhero_name,\n    MAX(CASE WHEN a.attribute_name = 'Durability' THEN CAST(REPLACE(ha.attribute_value, ',', '') AS REAL) ELSE NULL END) AS max_durability\n  FROM superhero s\n  JOIN hero_attribute ha ON s.id = ha.hero_id\n  JOIN attribute a ON ha.attribute_id = a.id\n  JOIN publisher p ON s.publisher_id = p.id\n  WHERE p.publisher_name = 'Dark Horse Comics'\n  GROUP BY\n    s.superhero_name\n)\nSELECT\n  superhero_name\nFROM HeroDurability\nORDER BY\n  max_durability DESC\nLIMIT 1;\n```",
 770: "```sql\nSELECT c.colour\nFROM superhero s\nJOIN colour c ON s.eye_colour_id = c.id\nWHERE s.full_name = 'Abraham Sapien';\n```",
 771: "```sql\nSELECT DISTINCT s.superhero_name\nFROM superhero s\nJOIN hero_power hp ON s.id = hp.hero_id\nJOIN superpower sp ON hp.power_id = sp.id\nWHERE sp.power_name = 'Flight';\n```",
 772: "```sql\nSELECT\n  c1.colour AS eye_colour,\n  c2.colour AS hair_colour,\n  c3.colour AS skin_colour\nFROM superhero AS s\nJOIN colour AS c1\n  ON s.eye_colour_id = c1.id\nJOIN colour AS c2\n  ON s.hair_colour_id = c2.id\nJOIN colour AS c3\n  ON s.skin_colour_id = c3.id\nJOIN gender AS g\n  ON s.gender_id = g.id\nJOIN publisher AS p\n  ON s.publisher_id = p.id\nWHERE\n  g.gender = 'Female' AND p.publisher_name = 'Dark Horse Comics';\n```",
 773: '```sql\nSELECT s.superhero_name, p.publisher_name\nFROM superhero s\nJOIN publisher p ON s.publisher_id = p.id\nWHERE s.eye_colour_id = s.hair_colour_id AND s.eye_colour_id = s.skin_colour_id;\n```',
 774: "```sql\nSELECT p.publisher_name, a.alignment\nFROM superhero s\nJOIN publisher p ON s.publisher_id = p.id\nJOIN alignment a ON s.alignment_id = a.id\nWHERE s.superhero_name = 'A-Bomb';\n```",
 775: "```sql\nWITH FemaleSuperheroes AS (\n  SELECT COUNT(DISTINCT s.id) AS total_female_superheroes\n  FROM superhero s\n  JOIN gender g ON s.gender_id = g.id\n  WHERE g.gender = 'Female'\n), BlueFemaleSuperheroes AS (\n  SELECT COUNT(DISTINCT s.id) AS total_blue_female_superheroes\n  FROM superhero s\n  JOIN gender g ON s.gender_id = g.id\n  JOIN colour c ON s.eye_colour_id = c.id\n  WHERE g.gender = 'Female'\n  AND c.colour = 'Blue'\n)\nSELECT\n  ROUND((\n    (SELECT total_blue_female_superheroes FROM BlueFemaleSuperheroes) * 100.0 / (SELECT total_female_superheroes FROM FemaleSuperheroes)\n  ), 2) AS percentage_blue_female_superheroes;\n```",
 776: "```sql\nSELECT s.superhero_name, r.race\nFROM superhero s\nJOIN race r ON s.race_id = r.id\nWHERE s.full_name = 'Charles Chandler';\n```",
 777: "```sql\nSELECT\n  g.gender\nFROM superhero AS s\nJOIN gender AS g\n  ON s.gender_id = g.id\nWHERE\n  s.full_name = 'Agent 13';\n```",
 778: "```sql\nSELECT DISTINCT s.superhero_name\nFROM superhero s\nJOIN hero_power hp ON s.id = hp.hero_id\nJOIN superpower sp ON hp.power_id = sp.id\nWHERE sp.power_name = 'Adaptation';\n```",
 779: "```sql\nSELECT COUNT(DISTINCT hp.power_id) AS power_count\nFROM superhero s\nJOIN hero_power hp ON s.id = hp.hero_id\nWHERE s.superhero_name = 'Amazo';\n```",
 780: "```sql\nSELECT\n  sp.power_name\nFROM superhero AS s\nJOIN hero_power AS hp\n  ON s.id = hp.hero_id\nJOIN superpower AS sp\n  ON hp.power_id = sp.id\nWHERE\n  s.full_name = 'Hunter Zolomon';\n```",
 781: "```sql\nSELECT s.height_cm\nFROM superhero s\nJOIN colour c ON s.eye_colour_id = c.id\nWHERE c.colour = 'Amber';\n```",
 782: "```sql\nSELECT s.superhero_name\nFROM superhero s\nJOIN colour ec ON s.eye_colour_id = ec.id\nJOIN colour hc ON s.hair_colour_id = hc.id\nWHERE ec.colour = 'Black' AND hc.colour = 'Black';\n```",
 783: "```sql\nSELECT DISTINCT c.colour AS eye_colour\nFROM superhero s\nJOIN colour c ON s.eye_colour_id = c.id\nJOIN colour sc ON s.skin_colour_id = sc.id\nWHERE sc.colour = 'Gold';\n```",
 784: "```sql\nSELECT s.full_name\nFROM superhero s\nJOIN race r ON s.race_id = r.id\nWHERE r.race = 'Vampire';\n```",
 785: "```sql\nSELECT s.superhero_name\r\nFROM superhero s\r\nJOIN alignment a ON s.alignment_id = a.id\r\nWHERE a.alignment = 'Neutral';\n```",
 786: "```sql\nWITH MaxStrength AS (\n  SELECT MAX(attribute_value) AS max_strength\n  FROM hero_attribute\n  WHERE attribute_id = (SELECT id FROM attribute WHERE attribute_name = 'Strength')\n)\nSELECT COUNT(DISTINCT hero_id) AS hero_count\nFROM hero_attribute\nWHERE attribute_id = (SELECT id FROM attribute WHERE attribute_name = 'Strength')\n  AND attribute_value = (SELECT max_strength FROM MaxStrength);\n```",
 787: "```sql\nSELECT\n  r.race,\n  a.alignment\nFROM superhero AS s\nJOIN race AS r\n  ON s.race_id = r.id\nJOIN alignment AS a\n  ON s.alignment_id = a.id\nWHERE\n  s.full_name = 'Cameron Hicks';\n```",
 788: "```sql\nWITH FemaleHeroes AS (\n  SELECT COUNT(DISTINCT s.id) AS total_female_heroes\n  FROM superhero s\n  JOIN gender g ON s.gender_id = g.id\n  WHERE g.gender = 'Female'\n), MarvelFemaleHeroes AS (\n  SELECT COUNT(DISTINCT s.id) AS marvel_female_heroes\n  FROM superhero s\n  JOIN gender g ON s.gender_id = g.id\n  JOIN publisher p ON s.publisher_id = p.id\n  WHERE g.gender = 'Female' AND p.publisher_name = 'Marvel Comics'\n)\nSELECT\n  ROUND((\n    (\n      SELECT marvel_female_heroes\n      FROM MarvelFemaleHeroes\n    ) * 100.0 / (\n      SELECT total_female_heroes\n      FROM FemaleHeroes\n    )\n  ), 2) AS percentage;\n```",
 789: "```sql\nSELECT AVG(s.weight_kg) AS average_weight\nFROM superhero s\nJOIN race r ON s.race_id = r.id\nWHERE r.race = 'Alien';\n```",
 790: "```sql\nSELECT \n  (\n    SELECT \n      s.weight_kg\n    FROM superhero s\n    WHERE\n      s.full_name = 'Emil Blonsky'\n  ) - (\n    SELECT \n      s.weight_kg\n    FROM superhero s\n    WHERE\n      s.full_name = 'Charles Chandler'\n  ) AS weight_difference;\n```",
 791: '```sql\nSELECT superhero_name, AVG(height_cm) AS average_height\nFROM superhero\nGROUP BY superhero_name;\n```',
 792: "```sql\nSELECT\n  sp.power_name\nFROM superhero AS s\nJOIN hero_power AS hp\n  ON s.id = hp.hero_id\nJOIN superpower AS sp\n  ON hp.power_id = sp.id\nWHERE\n  s.full_name = 'Abomination';\n```",
 793: "```sql\nSELECT COUNT(DISTINCT s.id) AS male_god_eternal_heroes\nFROM superhero s\nJOIN gender g ON s.gender_id = g.id\nJOIN race r ON s.race_id = r.id\nWHERE r.race = 'God/Eternal' AND g.gender = 'Male';\n```",
 794: "```sql\nWITH HeroSpeed AS (\n  SELECT\n    s.superhero_name,\n    MAX(CASE WHEN ha.attribute_name = 'Speed' THEN ha.attribute_value END) AS max_speed\n  FROM superhero s\n  JOIN hero_attribute ha ON s.id = ha.hero_id\n  JOIN attribute a ON ha.attribute_id = a.id\n  WHERE\n    a.attribute_name = 'Speed'\n  GROUP BY\n    s.superhero_name\n)\nSELECT\n  superhero_name\nFROM HeroSpeed\nORDER BY\n  max_speed DESC\nLIMIT 1;\n```",
 795: "```sql\nSELECT COUNT(*) AS total_neutral_heroes\nFROM superhero s\nJOIN alignment a ON s.alignment_id = a.id\nWHERE a.alignment = 'Neutral';\n```",
 796: "```sql\nSELECT\n  a.attribute_name,\n  ha.attribute_value\nFROM attribute AS a\nJOIN hero_attribute AS ha\n  ON a.id = ha.attribute_id\nJOIN superhero AS s\n  ON ha.hero_id = s.id\nWHERE\n  s.superhero_name = '3-D Man';\n```",
 797: "```sql\nSELECT s.superhero_name\nFROM superhero s\nJOIN colour ec ON s.eye_colour_id = ec.id\nJOIN colour hc ON s.hair_colour_id = hc.id\nWHERE ec.colour = 'Blue' AND hc.colour = 'Brown';\n```",

In [26]:
contador = 0

#respuestas = {}
inicio = 845

for index, row in complete.iterrows():
    if row['question_id'] < inicio:
        continue
    #if contador >= 5:
    #    break
    #print("ID", index)
    #print(text)
    print("QUESTION ID", row['question_id'])
    #print("SCHEMA:", schema)
    #print("QUESTION:", row['question'])
    #print("HINT:", row['evidence'])
    #print("Provide just the SQL query")

    response = model.generate_content(prompt+row['question'])

    #print(prompt)
    #print(response.text)
    #print()
    respuestas[row['question_id']] = response.text

    contador +=1

QUESTION ID 845

In [35]:
df = pd.DataFrame(list(respuestas.items()), columns=['question_id', 'gemini_1.5_Flash'])
df

     question_id                                   gemini_1.5_Flash
0            717  ```sql\nSELECT DISTINCT\n  sp.power_name\nFROM...
1            718  ```sql\nSELECT COUNT(DISTINCT s.id) AS super_s...
2            719  ```sql\nSELECT COUNT(DISTINCT s.id) AS num_sup...
3            720  ```sql\nSELECT s.full_name\nFROM superhero s\n...
4            721  ```sql\nSELECT COUNT(DISTINCT s.id) AS blue_ey...
..           ...                                                ...
124          841  ```sql\nSELECT s.weight_kg, r.race\nFROM super...
125          842  ```sql\nSELECT AVG(s.height_cm) AS average_hei...
126          843  ```sql\nSELECT DISTINCT hp.hero_id\nFROM hero_...
127          844  ```sql\nSELECT c.colour\nFROM superhero s\nJOI...
128          845  ```sql\nWITH AverageHeight AS (\n  SELECT AVG(...

[129 rows x 2 columns]